<!DOCTYPE html>
<html lang="en">

<head>
    <% include head %>
</head>

<body>

<% include nav %>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <% include sidebar %>

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <% for (var i=1; i <= 6; i++) { %>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <a href="/">
                                    <img src="http://placehold.it/800x600" class="thumbnail img-responsive">
                                </a>
                                <p>Game <%- i %></p>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /.container -->
<% include footer %>
<!-- /.container -->

<% include scripts %>

</body>

</html>
