<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <!-- Begin ADSNATIVE Code -->
        <script type="text/javascript">
            var _AdsNativeOpts = {
                apiKey: '3xL9BOFkjpS0vyXWlMdCxBMiN1M0a1cGpGyKcKhv',
                autoPosition: true
            };
        </script>
        <script type="text/javascript" src="//static.adsnative.com/static/js/render.v1.js"></script>
        <!-- End ADSNATIVE Code -->

        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Andrew Hunt and Hector Cardenas 2016</p>
            </div>
        </div>
    </footer>
</div>
