<!DOCTYPE html>
<html lang="en">

<head>
    <% include head %>
</head>

<body>

    <% include nav %>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <% include sidebar %>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="game">
                            <embed width="800" height="600" base="http://external.kongregate-games.com/gamez/0024/9236/live/" src="http://external.kongregate-games.com/gamez/0024/9236/live/embeddable_249236.swf" type="application/x-shockwave-flash"></embed><br/>Play free games at <a href="http://www.kongregate.com/">Kongregate</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <h4><a href="#">Our products:</a></h4>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/pill.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$19.99</h4>
                                <h4><a href="/checkout?id=1">Apple Cider Vinegar <br> 100 Pills</a>
                                </h4>
                                <p>Solid apple cider vinegar for a fast, concentrated release. Lowers blood sugar and provides alkaline effects without corroding your throat. *Take each capsule with a FULL glass of water, otherwise stomach pains could occur.*</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/pills.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$TBA</h4>
                                <h4><a href="/checkout?id=2">Gut Health Infusion <br> 100 Pills</a>
                                </h4>
                                <p>Mixture of specific supplements to target malicious bacteria and build digestive mucosal membrane.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">12 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/img/open-pill.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$TBA</h4>
                                <h4><a href="/checkout?id=3">All-in-One <br> For Inflammation <br> 100 Pills</a>
                                </h4>
                                <p>Targets health factors within the gut, while providing natural compounds to the body to increase healing, chemical balance, and immune function.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">31 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <h4><a href="/contact">Get in touch!</a></h4>
                        <p>If you like what we're doing, or if you have any suggestions and want to contribute to the development of this treatment please send me an email at <a href="mailto:meckyle@gmail.com">meckyle@gmail.com</a>.</p>
                        <a class="btn btn-primary" target="_blank" href="#">Subscribe to our mailing list!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /.container -->
    <% include footer %>
    <!-- /.container -->

    <% include scripts %>

</body>

</html>
