<!DOCTYPE html>
<html lang="en">

<head>
    <% include head %>
</head>

<body>

    <% include nav %>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <% include sidebar %>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="game">
                            <embed width="800" height="600" base="http://external.kongregate-games.com/gamez/0024/9236/live/" src="http://external.kongregate-games.com/gamez/0024/9236/live/embeddable_249236.swf" type="application/x-shockwave-flash"></embed>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /.container -->
    <% include footer %>
    <!-- /.container -->

    <% include scripts %>

</body>

</html>
