<div class="col-md-3">
    <p class="lead">Brought to you by:</p>
    <!--compounded for your ease-->

    <!--<p>Ad goes here</p>-->
    <div class="list-group">
        <!--<p></p>-->
        <!--<span>-->
            <!--<a class="btn btn-primary" target="_blank" href="/checkout?id=1">Order Now!</a>-->
            <!--<a class="btn btn-primary" target="_blank" href="/story" style="background-color: #2980b9; border-color: #2980b9">&nbsp;&nbsp;My Story&nbsp;&nbsp;</a>-->
        <!--</span>-->
    </div>
    <% include ad %>
</div>
