<div class="col-md-3">
    <p class="lead">Brought to you by:</p>
    <!--compounded for your ease-->

    <p>My name is Kyle Mecca, and I have Ankylosing Spondylitis. I was in pain, but now I am not. Now you can order the same Apple Cider Vinegar pills and supplement compounds that I take on a daily basis! These supplements could help with Ankylosing Spondylitis, weight loss, gut health, and much more, depending on which compound you choose! You can also read "My Treatment" to better understand my story, and how I treat my own Ankylosing Spondylitis (AS) naturally. Not once do I claim to be able to treat your disease, as I am not a Doctor. In my experience, I have found that Apple Cider Vinegar drastically reduces my pain to almost nothing, and I have talked to other people with AS who have experienced the same relief.</p>
    <div class="list-group">
        <p></p>
        <span>
            <a class="btn btn-primary" target="_blank" href="/checkout?id=1">Order Now!</a>
            <a class="btn btn-primary" target="_blank" href="/story" style="background-color: #2980b9; border-color: #2980b9">&nbsp;&nbsp;My Story&nbsp;&nbsp;</a>
        </span>
    </div>
</div>