<!DOCTYPE html>
<html lang="en">

<head>
    <% include head %>
    <link href="/css/form-labels-on-top.css" rel="stylesheet">
</head>

<body>

    <% include nav %>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <% include sidebar %>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <h1><%= title %></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /.container -->
    <% include footer %>
    <!-- /.container -->

    <% include scripts %>
</body>

</html>
